<mat-toolbar color="primary">{{ title }}</mat-toolbar>
<mat-drawer-container class="main-drawer-container">
  <mat-drawer mode="side" opened class="main-drawer-container-drawer">
    <button
      mat-flat-button
      class="nav-button"
      [color]="isActiveState('home') ? 'accent' : 'primary'"
      (click)="route('/home')"
    >
      Home
    </button>
    <button
      mat-flat-button
      class="nav-button"
      [color]="isActiveState('gbg') ? 'accent' : 'primary'"
      (click)="route('/gbg')"
    >
      GBG
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
