<div class="home-container">
  <mat-card class="item-card">
    <mat-card-content>
      <div
        class="home-map"
        leaflet
        [leafletOptions]="options"
        [(leafletCenter)]="center"
        (leafletCenterChange)="refreshDetails($event)"
      ></div>
      <p style="text-align: center;">Standort: {{ center.lat | number }}, {{ center.lng | number }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card
    *ngIf="warnings && warnings.length > 0"
    class="item-card no-top warning-card"
  >
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let entry of warnings" role="listitem">
          {{ entry }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="item-card no-top">
    <mat-card-content>
      <div>
        <span>
          Temperatur: {{ lastResult.measurements.temperature | number }}°C
        </span>
        <mat-icon aria-hidden="false">
          {{ trend(lastResult.measurements.history.temperature) }}</mat-icon
        >
      </div>
      <div>
        <span>
          Luftfeuchtigkeit: {{ lastResult.measurements.humidity | number }}%
        </span>
        <mat-icon aria-hidden="false">
          {{ trend(lastResult.measurements.history.humidity) }}</mat-icon
        >
      </div>
      <div>
        <span>
          Windgeschwindigkeit:
          {{ lastResult.measurements.windspeed | number }}km/h
        </span>
        <mat-icon aria-hidden="false">
          {{ trend(lastResult.measurements.history.windspeed) }} </mat-icon
        >
      </div>
      <div>
        <span>
          Niederschlag: {{ lastResult.measurements.precipitation }}mm/m²
        </span>
        <span>
          <mat-icon aria-hidden="false">{{
            trend(lastResult.measurements.history.precipitation)
          }}</mat-icon>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
