<div class="home-container">
  <mat-card class="item-card">
    <mat-card-content>
      <div
        class="home-map"
        leaflet
        [leafletOptions]="options"
        [(leafletCenter)]="center"
        (leafletCenterChange)="refreshDetails($event)"
      ></div>
    </mat-card-content>
  </mat-card>

  <mat-card
    *ngIf="warnings && warnings.length > 0"
    class="item-card no-top warning-card"
  >
    <mat-card-header>Aktuelle Warnungen</mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let entry of warnings" role="listitem">
          {{ entry }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="item-card no-top">
    <mat-card-header>
      Standort: {{ center.lat | number }}, {{ center.lng | number }}
    </mat-card-header>
    <mat-card-content>
      <div>
        Temperatur: {{ lastResult.measurements.temperature | number }}°C
      </div>
      <div>
        Luftfeuchtigkeit: {{ lastResult.measurements.humidity | number }}%
      </div>
      <div>
        Windgeschwindigkeit:
        {{ lastResult.measurements.windspeed | number }}km/h
      </div>
    </mat-card-content>
  </mat-card>
</div>
